
body {
    margin: 5px;
    background-color: lightgray;
}
h1 {
  background-color: rgb(136, 139, 145);
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  color:rgb(35, 18, 194);
  border-width: 1px;
  /* border-style: solid; */
  padding: 0.2cm;
  margin-left: 550px;
  margin-right: 550px;
}

h2 {

}
p{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

p span {
    color:red;
    font-weight: bolder;
}